*{
    font-style: italic;
    background-color: black;
    color: white;
}

p {
    font-size: 1.075rem;
}

h1 {
    font-size: 2rem;
    font-style: italic;
}

h3 {
    text-decoration: underline;
}